*{
    margin:0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-size: 18px;
    letter-spacing: 1px;
    font-family: Arial, Helvetica, sans-serif;
}

header{
    background-color: aliceblue;
    text-align: center;
    padding: 30px 20px;
}
nav{
    margin: 0  auto;
    width:70%;
}
ul{
    display: flex;
    justify-content: space-around;
    list-style: none;
}
a{
    text-decoration: none;
    color: #000000;
    opacity: .6;
}
ul li:first-child{
    border-bottom: solid 4px;
}



main{
    margin: 0 auto;
    width: 80%;
    margin-top: 20px;
}
section{
    margin: 30px 0px;
}
.section-one{
    display: block;
}
.paragraph-section-one{
    line-height: 1.5;
    font-size: 20px;
}
.container-information-option{
    background-color: #000000;
    padding: 20px;
    height: 200px;
    border-radius: 10px;
    text-align: center;
}
.tab{
    color: fuchsia;
    font-size: 25px;
    display: none;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
}
.first-tab{
    display: block;
}


footer{
    margin: 0 auto;
    width: 80%;
    text-align: start;
}
footer p:first-child{
    color: #000000;
}


@media(max-width:700px){
    body{
        font-size: 12px;
    }
    nav{
        margin: 0  auto;
        width:90%;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
        list-style: none;
        gap: 2em;
    }
    .paragraph-section-one{
        font-size: 14px;
        text-align: center;
    }
    .container-information-option{
        height: 150px;
    }
    .tab{
        font-size: 16px;
        display: none;
        position: absolute;
    }
    footer{
        margin: 0 auto;
        width: 90%;
        text-align: start;
    }
    footer p:first-child{
        font-size: 14px;
        text-align: center;
    }
}