:root{
    --border:solid 2px;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul{
    list-style: none;
}
.container-header{
    display: flex;
    /* grid-template-areas: 
    "name options"
    "description description";
    text-align: center;
    grid-template-columns: 50% auto; */
    gap: 2em;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px 50px;
    /* border: solid 4px; */
    border:var(--border);
    margin: 20px;
    margin-bottom: 0px;

}
.container-nav{
    /* grid-area: options; */
    display: inline-block;

}
.container-options-nav{
    display: grid;
    list-style: none;
    grid-template-columns: repeat(4, 1fr);
    gap: 1em;
}
.container-description:last-child{
    grid-area: description;
    width: 100%;
    text-align: center;
}

.container-principal{
    margin: 0px 20px 0px 20px;
}

.section-one{
    display:grid;
    grid-template-areas:
    "uno dos tres"
    "uno dos-dos tres";
    grid-template-columns: repeat(3, 1fr);
    border: var(--border);
}
.aside-one{
    grid-area: uno;
}
h3{
    padding: 10px;
}
.p{
    border: var(--border);
    padding: 10px;
    border-bottom: none;
}

.aside-two{
    grid-area: tres;
    padding: 10px 20px;
}
.article-one{
    grid-area: dos;
    border:var(--border);
    padding: 10px;
}
.article-two{
    grid-area: dos-dos;
    border: var(--border);
    padding: 10px;
}

.section-two{
    padding: 10px 50px;
    border:var(--border);
    border-bottom:none;
}
.section-two-article{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(3, 30%);
    gap: 1em;
    margin-top: 30px;
    padding-bottom: 20px;
}
.contenedor{
    border: var(--border);
    border-radius: 10px;
    padding: 10px;
}
.container-footer{
    text-align: center;
    margin-top: 40px;
    border:var(--border);
    border-top: none;
    margin: 0px 20px 20px 20px;
    padding:20px;
}
